<div class="well">
	 <h3>Leave a Comment:</h4>
<%= form_for ([@article, @article.comments.build]), role: "form" do |f| %>
	<strong>Comment</strong>
	<div class="form-group">		
		<%= f.text_field :commenter, class: "form-control" %> <br>
	 </div>
	<strong> Commenter</strong>
<div class="form-group">
	<%= f.text_area :body , class: "form-control" %> <br>
</div>

<%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>

</div>
                   
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                